<!DOCTYPE html>
<html lang="en" ng-App="Braces">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Braces</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="assets/sweet/sweetalert2.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/mdb.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    </head>

    <body>
    <div class="container" ng-controller="AppController">
        <div ng-show="showAdd" class="form">
            <!-- <div class=""> -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 card container" align="center">
                        <h1 class="text-center">Add Contact</h1>
                        <form >
                            <div class="form-group">
                                <!-- <label class="input-label">Firstname</label> -->
                                <input type="text" class="form-control" placeholder="Firstname" ng-model="contact.first">
                            </div>
                            <div class="form-group">
                                <!-- <label class="input-label">Lastname</label> -->
                                <input type="text" class="form-control" placeholder="Lastname" ng-model="contact.last">
                            </div>
                            <div class="form-group">
                                <!-- <label class="input-label">Phone</label> -->
                                <input type="tel" class="form-control" placeholder="Phone" ng-model="contact.phone">
                            </div>
                            <button type="button" class="btn btn-info btn-lg center" ng-click="addContacts(contact)">Add</button>
                            <button class="btn btn-sm left" ng-click="view()">View</button>

                        </form>
                     
                    </div>
                </div>  
            <!-- </div> -->
        </div>
        <div title="edit" ng-show="showEdit" class="form">
            <div class="row">
                    <div class="col-md-6 col-md-offset-3 card container" align="center">
                        <h1 class="text-center">Edit Contact</h1>
                        <form >
                            <div class="form-group">
                                <!-- <label class="input-label">Firstname</label> -->
                                <input type="text" class="form-control" placeholder="Firstname" ng-model="forEdit.first">
                            </div>
                            <div class="form-group">
                                <!-- <label class="input-label">Lastname</label> -->
                                <input type="text" class="form-control" placeholder="Lastname" ng-model="forEdit.last">
                            </div>
                            <div class="form-group">
                                <!-- <label class="input-label">Phone</label> -->
                                <input type="tel" class="form-control" placeholder="Phone" ng-model="forEdit.phone">
                            </div>
                            <button type="button" class="btn btn-info btn-lg center" ng-click="save(forEdit)">Save</button>
                            <button class="btn btn-sm left" ng-click="view()">Cancel</button>

                        </form>
                     
                    </div>
                </div>  
        </div>
        <div ng-show="showView" class="form">
            <div class="row">
                    <div class="col-md-6 col-md-offset-3 card container" align="center">
                        <h1 class="text-center">View Contact</h1>
                        <button class="btn btn-sm btn-info" ng-click="home()">Add</button>

                        <div class="table-responsive">
                            <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="contact in contacts">
                                            <td>{{contact.first}}</td>
                                            <td>{{contact.last}}</td>
                                            <td>{{contact.phone}}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger" ng-click="delete(contact.id)">Delete</button>
                                                <button type="button" class="btn btn-sm btn-info" ng-click="edit(contact)">Edit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>  
        </div>
    </div>


    <!-- SCRIPTS -->
   
    <script src="assets/sweet/sweetalert2.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="controllers/app.js"></script>
    <!-- <script type="text/javascript" src="controllers/controller.js"></script> -->
    <!-- JQuery -->
    <script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="assets/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="assets/js/mdb.min.js"></script>


</body>

</html>